if SHIELD_CHOCO-KEY_R

config ZMK_KEYBOARD_NAME
    default "Choco-Key_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CHOCO-KEY_L

config ZMK_KEYBOARD_NAME
    default "Choco-Key_L"

config ZMK_SPLIT
    default y

endif
