if SHIELD_choco_key_r

config ZMK_KEYBOARD_NAME
    default "choco_key_r"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_choco_key_l

config ZMK_KEYBOARD_NAME
    default "choco_key_l"

config ZMK_SPLIT
    default y

endif
